<div class="content">
  <div class="form-group buttons">
    <label for="files" class="custom-file-upload">
      Upload files
    </label>
    <input type="file"
           id="files"
           class="d-none"
           multiple
           (change)="addFiles($any($event.target).files)">
    <button type="button" *ngIf="filesToUpload.length > 0" class="remove-files" (click)="removeFiles()">
      Remove files
    </button>
  </div>
  <div class="img-display">
    <picture class="images-to-upload" *ngFor="let file of filesToUpload; let i = index">
      <img *ngIf="file.isImage" [src]="file.url">
      <i *ngIf="!file.isImage" [class]="file.url" aria-hidden="true"></i>
      <span class="images-to-upload-span">{{file.name}}</span>
    </picture>
  </div>
  <div class="image-upload-errors">
    <span *ngIf="imgLengthError" class="text-danger">{{imgLengthError}}</span>
    <span *ngIf="sizeFileError" class="text-danger">{{sizeFileError}}</span>
    <span *ngIf="acceptableFileError" class="text-danger">{{acceptableFileError}}</span>
  </div>
  <button type="button" *ngIf="filesToUpload.length > 0" class="save-files" (click)="saveFiles()">
    Save files
  </button>
  <div *ngIf="loading" class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
  <p class="text-danger" *ngIf="errormessage">{{errormessage}}</p>
</div>
